$aaa: #fff;

header {
	background-color: blue;
}
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
  color: red;
}
footer {
	background-color: green;
}

.fa {
	display: block;
	font-size: 35px;
}