$border-color:      #ebebeb;
$text-color:        #777;
$active-color:      #4285f4;

html,
body { height: 100%; }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow: hidden;
    color: $text-color;
}

header,
main,
footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFF;
}

header {
    height: 50px; 
    
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fbfbfb;
    border-bottom: 1px solid $border-color;
}


main {
    top: 50px;
    bottom: 30px;
    overflow-y: auto;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    height: 30px;
    bottom: 0px;
    border-top: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    padding: 3px 5px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor: pointer;
    color: #777;
    &:hover {
        box-shadow: 0 0 1px 0 #ccc;
    }
}