// :host-context()
:host {
	display: block;
	width: 500px;
	height: 500px;
	padding-top: 25px;
	
	input {
		width: 250px;
		margin-bottom: 25px;

		&.ng-dirty.ng-valid {
			border: 1px solid green;
		}
		&.ng-dirty.ng-invalid {
			border: 1px solid red;
		}
	}
}

